<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>

	<div class="container">
		<h2 style="text-align: center;">Shopping Planner</h2><br><br><br>
	
		<div class="well">
			<div class="row">
				<div class="col-xs-6">
					<form class="form-inline">
						<div class="form-group">
							<label class="form-label" for="myLocation">Location : </label>            
							<input class="form-control" id="myLocation">
							<button class="btn btn-default btn-sm">Use current location</button>
						</div>
					</form>
					<br>
					<div>
						<div class="input-group">
							<span class="input-group-addon success" id="basic-addon3" style="background-color:#fceb67;">Radius</span>
							<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
							<span class="input-group-addon" id="basic-addon2">miles</span>
						</div>
					</div>
					<br>
					<b class="form-label">Select Category : </b><br/>
					<div class="form-group">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Groceries
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">Groceries</a></li>
								<li><a href="#">Medicine</a></li>
								<li><a href="#">Furniture</a></li>
							</ul>
						</div>
					</div>
					
					<div class="form-group">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Medicine
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li><a href="#">Groceries</a></li>
								<li><a href="#">Medicine</a></li>
								<li><a href="#">Furniture</a></li>
							</ul>
						</div>
					</div>
					
					<div class="form-group">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Furniture
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
								<li><a href="#">Groceries</a></li>
								<li><a href="#">Medicine</a></li>
								<li><a href="#">Furniture</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					<img class="img-responsive" src="map.png" style="height:300px">
				</div>
			</div>
		</div>
		<br>
		
		<button type="submit" class="btn btn-success btn-block">Plan my route </button>
	</div>
</body>
</html>