<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
    <link href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-notify/js/bootstrap-notify.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="javascripts/main.js"></script>

    <title>Shopping Planner</title>
  </head>

  <body>
    <div class='notifications top-left'></div>
    <div class="container" id='page_container'>
      <div class="row">
        <div class="col-xs-3 well" id="left-panel">
          <form class="form form-inline">
          <br>
            <b>Radius</b>  <span id="radius">10</span>
          <input type="range" data-slider-min="2" data-slider-max="50" data-slider-value="10" data-slider-step="2" id="radius_slider"/>
            <div>
              <b>Select Categories:</b><br>

              <input type="checkbox" name="category" value="Bank" /> Bank <br>
              <input type="checkbox" name="category" value="Electrical" /> Electrical <br>
              <input type="checkbox" name="category" value="Doctor" /> Doctor <br>
              <input type="checkbox" name="category" value="Groceries" /> Groceries <br>
              <input type="checkbox" name="category" value="Furniture" /> Furniture <br>
              <input type="checkbox" name="category" value="Electronics" /> Electronics <br>
              <input type="checkbox" name="category" value="Dairy" /> Dairy <br>
              <input type="checkbox" name="category" value="Baked_Products" /> Baked Products <br>
              <input type="checkbox" name="category" value="Cleaning_Products" /> Cleaning Products <br>
              <input type="checkbox" name="category" value="Medicines" /> Medicines <br>
              <input type="checkbox" name="category" value="Kitchen" /> Kitchen <br>
              <input type="checkbox" name="category" value="Beverages" /> Beverages <br>
              <input type="checkbox" name="category" value="Seafood" /> Cleaning Products <br>
              <input type="checkbox" name="category" value="Meat" /> Medicines <br>
              <input type="checkbox" name="category" value="Fruits" /> Fruits <br> <br>
              <button type="button" class="btn btn-primary" id="get_direction_button"> Get Directions</button>
            </div>
          </form>
          <div id="directions-panel"></div>
        </div>
        <div class="col-xs-9">
          <div id="map"></div>
        </div>
      </div> <!-- row -->
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChJ3LNJnP8m_iTE1lZhHQk_b5JYHaKKqY&callback=initMap"></script>
    <script src="javascripts/google_maps.js"></script>
  </body>
</html>