<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Shopping Planner</title>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
        <link href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
        <link href="bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">

        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/bootstrap-notify/js/bootstrap-notify.js"></script>
        <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script src="bower_components/select2/dist/js/select2.min.js"></script>
        <script src="javascripts/main.js"></script>
        <script src="javascripts/google_maps.js"></script>
    </head>

    <body>
        <div class='notifications bottom-left'></div>
        <div class="row" id='page_container'>
            <div class="col-xs-3 well" id="left-panel">
                <form class="form form-inline" id="search_box">
                    <input id="pac-input" class="controls hidden" type="text" placeholder="Search Box"><br>
                    <div width="100%">
                        <label class="form-label text-center" id="current_location" data-toggle="tooltip" data-placement="right" title="Current Location"></label><br><br>
                    </div>
                    <b data-toggle="tooltip" data-placement="right" title="Search Radius">Radius </b>
                    <span id="radius">10</span> miles
                    <input type="range" data-slider-min="2" data-slider-max="50" data-slider-value="10" data-slider-step="2" id="radius_slider"/><br><br>
                    <b>Categories</b><br>
                    <select id="subcategory"></select><br><br>
                    <button type="button" class="btn btn-primary btn-block" id="get_direction_button"> Get Directions </button><br>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-block hidden" data-toggle="modal" data-target="#directionsModal" id="directionsModalButton">See detailed directions</button>
                </form>
            </div>
            <div class="col-xs-9">
                <div id="map"></div>
            </div>
        </div> <!-- row -->
        <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyChJ3LNJnP8m_iTE1lZhHQk_b5JYHaKKqY&libraries=places&callback=ShoppingPlanner.initMap"></script>
    </body>
</html>


<!-- Modal -->
<div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="directionsModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="directionsModalLabel">Route</h4>
      </div>
      <div class="modal-body">
        <div id="directions-panel"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
