html, body {
	height: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#left-panel {
	font-family: 'Roboto','sans-serif';
	line-height: 15px;
	padding-left: 15px;
	padding-top: 0;
	margin: 20px;
	border-width: 2px;
	width: 20%;
	min-height: 150px;
	max-height: 600px;
	text-align: left;
}

#left-panel select {
	width: 100%;
}

#left-panel i {
	font-size: 10px;
}

#map {
	height: 100%;
}

#directions-panel {
	font-size: 12px;
	margin-top: 10px;
	padding: 5px;
}

#map-canvas {
    width:100%;
    /*height:400px;*/
}

.row, .col-xs-9 {
	height: 100%;
}

#page_container{
	/* padding-left:5px;
	padding-right: 5px;*/
	margin-right: 0px;
	margin-left: 0px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}
#current_location{
	font-size: 16px;
	text-align: center;
}